{% extends 'base.html' %}
{% block page_title %}Blog Posts{% endblock %}
{% block content %}
  {% for post in posts %}
    <div class="row blog-border">
      <div class="col-lg-2 col-sm-3">
        <img src="static/img/profile.jpeg" class="img-circle">
        <h5><strong>Author:</strong>Dave</h5>
      </div>
      <div class="col-lg-10 col-sm-9">
        <h3><u>{{ post.title }}</u></h3>
        
          <div class="col-xs-12">
          <div class="center-text">
            <p>{{ post.content|truncatewords:30 }}</p>
            <p><strong>Published:</strong> {{ post.published_date }} </p>
            <p><strong>Views:</strong> {{post.views}}</p>
            <p><strong>Tag(s):</strong> {{ post.tag }}</p>
            <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-primary">Read more</a></p>
            
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}