{% extends 'base.html' %}
{% block page_title %}Blog Posts{% endblock %}
{% block content %}
<!--Layout of the blog post when its shown in a list of other posts-->
{% for post in posts %}
<div class="row blog-border">
	<div class="col-lg-2 col-sm-3">
		<img src="https://coffeechoice.s3-eu-west-1.amazonaws.com/static/img/profile.jpeg" class="img-circle" alt="poster_img">
		<h5><strong>Author:</strong>Dave</h5>
	</div>
	<div class="col-lg-10 col-sm-9">
		<h3><u>{{ post.title }}</u></h3>
		<div class="col-xs-12">
			<div class="center-text">
				<p>{{ post.content|truncatewords:30 }}</p>
				<p><strong>Published:</strong> {{ post.published_date }} </p>
				<p><strong>Views:</strong> {{post.views}}</p>
				<p><strong>Tag(s):</strong> {{ post.tag }}</p>
				<p><a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read more</a></p>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<!--Pagination-->
{% if posts.has_other_pages %}
<ul class="pagination">
	{% if posts.has_previous %}
	<li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
	{% else %}
	<li class="disabled"><span>&laquo;</span></li>
	{% endif %}
	{% for i in posts.paginator.page_range %}
	{% if posts.number == i %}
	<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	{% else %}
	<li><a href="?page={{ i }}">{{ i }}</a></li>
	{% endif %}
	{% endfor %}
	{% if posts.has_next %}
	<li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
	{% else %}
	<li class="disabled"><span>&raquo;</span></li>
	{% endif %}
</ul>
{% endif %}
{% endblock %}