{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/profile.jpeg"  class="img-circle">
            </a>
            <p><span><strong> Author:</strong></span> Dave</p>
        </div>
        <div class="col-sm-10 col-md-9">
            {% if post.image %}
                <img class="img-blogpost" src="/media/{{ post.image }}">
            {% endif %}
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ post.content }}</p>
                    <p><span><strong>Published on:</strong></span> {{ post.published_date }} </p>
                    <p><span><strong>Views:</strong></span> {{post.views}}</p>
                    <p><span><strong>Tag:</strong></span> {{ post.tag }}</p>
                    <a href="{% url 'all_posts' %}" class="btn btn-primary">Back to Blog</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
     <hr>
     <a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>Be the first to add a comment!</p>
{% endfor %}
{% endblock %}