{% extends "base.html" %}
{% block page_title %}Blog Post {{post.id}}{% endblock %}
{% block content %}
<div class="blog-border">
  <div class="row">
    <!--User Img-->
    <div class="col-md-2 col-sm-3">
      <img src="static/img/pods.png"  class="img-circle">
      <p><strong> Author:</strong>Dave</p>
    </div>
    <div class="col-sm-9 col-md-10">
      <!--If model has a blog image, it will be posted here-->
      {% if post.image %}
        <img class="img-blogpost" src="{{MEDIA_URL}}{{ post.image }}">
      {% endif %}
    </div>
    </div>
      <!--Post title, content, published date, amount of views and tags will all be posted below the blog image-->
      <div class="center-text">
      <h3><u>{{ post.title }}</u></h3>
    
        <div class="col-xs-9">
        
          <p><span><strong>Published:</strong></span> {{ post.published_date }} </p>
          <p><span><strong>Views:</strong></span> {{post.views}}</p>
          <p><span><strong>Tag(s):</strong></span> {{ post.tag }}</p>
          <p>{{ post.content }}</p>
          </div>
         </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--Button to return to all posts list-->
    <a href="{% url 'all_posts' %}" class="btn btn-primary center-btn-return"><i class="fas fa-undo"></i></a>
  </div>
</div> 
<a class="btn btn-primary center-btn-add" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
     
<div class="comment-wrap">
{% for comment in comments %}

    <div class="comment">
        <p><strong>{{ comment.published_date }}</strong></p>
        <p><strong>Posted by:</strong> {{ comment.author }}</p>
        <p>{{ comment.text|linebreaks }}</p>
        <hr>
    </div>
    {% empty %}
    <p>Be the first to add a comment!</p>
{% endfor %}
{% endblock %}