{% extends 'base.html' %}
{% block page_title %}Home Page{% endblock %}
{% block page_heading %}Home{% endblock %}
{% block content %}

    <h1>CoffeeChoice</h1>

  <div class="row">
    <div class="col-sm-12 slide-container">
      <div class="slide sl-effect">
        <img src="static/img/pods.png"  height="500px" width="1000px">
      </div>
      <div class="slide sl-effect">
        <img src="static/img/original_pods.png" height="500px" width="1000px">
      </div>
      <div class="slide sl-effect"> 
        <img src="static/img/cappuchino.png" height="500px" width="1000px">
      </div>
      <div class="slide sl-effect">
        <img src="static/img/expresso.png" height="500px" width="1000px">
      </div>
    </div>
  </div><!-- Image carousel-->
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card index-icons">
        <div class="fa-index">
          <i class="fas fa-mug-hot"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Browse</h5>
          <p class="card-text">Browse and purchase our selection of great Nespresso Coffee!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card index-icons"">
      <div class="fa-index">
  <i class="far fa-eye "></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Coffee Blog</h5>
    <p class="card-text">Keep up to date with our Coffee Blog!</p>
  </div>
</div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card index-icons">
      <div class="fa-index">
 <i class="fas fa-lock "></i>
 </div>
  <div class="card-body">
    <h5 class="card-title">Secure</h5>
    <p class="card-text">Our payment service is very secure.</p>
  </div>
</div>
    </div>
  </div>
{% endblock %}