{% extends 'base.html' %}
{% block page_title %}Home Page{% endblock %}
{% block page_heading %}Home{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-12 slide-container">
      <div class="slide sl-effect">
        <img src="static/img/pods.png"  height="500px" width="1000px">
      </div>
      <div class="slide sl-effect">
        <img src="static/img/original_pods.png" height="500px" width="1000px">
      </div>
      <div class="slide sl-effect"> 
        <img src="static/img/cappuchino.png" height="500px" width="1000px">
      </div>
      <div class="slide sl-effect">
        <img src="static/img/expresso.png" height="500px" width="1000px">
      </div>
    </div>
  </div><!-- Image carousel-->
{% endblock %}