<!--This is the first page the user sees after clicking the forgotten password link which prompts the user to type in 
their email address -->
{% extends 'base.html' %}
{% block page_title %}Reset Password{% endblock %}
{% block page_heading %}Reset your Password{% endblock %}
{% block content %}
<div class="auth_wrapper">
	<form method="POST" class="auth_form">
		<h1>Reset your password</h1>
		<p>Please enter your email address</p>
		{% csrf_token %}
        <p>{{ form.email }}</p>
		<p><button class="btn btn-primary">Reset Password</button></p>
	</form>
</div>
{% endblock %}