/*GENERIC FOR ALL PAGES*/
* {
    margin: 0;
    padding: 0;
}
/*AUTH FORMS*/
.auth_wrapper {
    display: block;
    text-align: center;
}/*Styling for the auth forms wrappers to allow forms to be centred */

.auth_form {
    display: inline-block;
    width: 40%;
    margin: 50px auto;
    text-align: center;
    border: 1px solid blue;
    background-color: black;
    color: white;
}/*Styling for the login and registration forms  */

/*FOOTER*/
#map {
    width: 100%;
    height: 260px;
}
