/*Generic Styling*/
body {
  font-family: Arial, 'sans-seriff';
}

/*MESSAGES*/
.messages {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

/*Blog*/
.blog-border {
    border: 1px solid black;
}
.story-img {
    margin-top: 25%;
    display: block;
}

.img-blogpost{
    height: 300px;
    width: auto;
}

.img-circle{
    width:100px;
    height: 100px; 
    border-radius: 55%;
}

/*USER COMMENTS*/
.comment {
    border: black 2px solid;
}
/*AUTH FORMS*/
.auth_wrapper {
    display: block;
    text-align: center;
}/*Styling for the auth forms wrappers to allow forms to be centred */

.auth_form {
    display: inline-block;
    width: 40%;
    margin: 50px auto;
    text-align: center;
    border: 1px solid blue;
    background-color: black;
    color: white;
}/*Styling for the login and registration forms  */

/*FOOTER*/
footer{
    height: 420px;
    width: 100%;
    background-color: blue;
}
.mapdiv {
   height: 250px;
   text-align: center;

}
#map {
    height: 100%;
    border: 2px solid black;
    margin: 5px;
}

/*Image Carousel*/
.slide-container {
    position: relative;
}

.slide img {
    width: 100%;
    height: 600px;
}

.index-icons {
    background-color: black;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 15px;
}

.fa-index {
    text-align: center;
    font-size: 95px;
}

/*ALL_COFFEE.HTML*/
.card {
    margin: 10px 0;
}

    
