{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Checkout{% endblock %}
<!--JS code-->
{% block head_js %}
<script src="https://js.stripe.com/v2/"></script>
<script>
	//<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}
{% block content %}
<div class="col-sm-12">
	<div class="center-text">
		<h2> Your Total is:</h2>
        <!--Total price is shown to user-->
		<h2><i class="fas fa-euro-sign"></i>{{ total }}</h2>
        <!--Payment form split in haf-->
        <form method="post" id="payment-form" action="{% url 'checkout' %}">
		    {% csrf_token %}
			<h1>Payment Details</h1>
			<div class="row">
                <!--User inputs name/address details-->
				<div class="col-md-6">
					{{ order_form | as_bootstrap }}
				</div>
                <!--User inputs card details-->
				<div class="col-md-6">
					{{ payment_form | as_bootstrap }}
				</div>
			</div>
            <!--Button to sbmit payment-->
			<div class="col-md-12">
				<input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
            </div>
		</form>
	</div>
</div>
{% endblock %}