{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<h1>Your Cart</h1>
  <div class="row row-flex">
    {% for item in cart_items %}
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="/media/{{ item.coffee.image }}" alt="Coffee-Capsule">
        <div class="card-body">
          <h3>{{ item.coffee.name }}</h3>
          <p class="product-description">{{ item.product.description }}</p>
          <p>{{ item.coffee.price}}</p>
          <p>Amount: {{ item.quantity }}</p>
          <h4>Amend QTY</h4>
          <form action="{% url 'adjust_cart' item.id %}" method="post">
            {% csrf_token%}
            <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Amend</button>
                        </span>
                    </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <p>Total:</p>
    <p><i class="fas fa-euro-sign"></i></span> {{ total }}</p>
  </div>
  <div>
     <a href="{% url 'checkout' %}" class="btn btn-success" role="button">
      <i class="fas fa-check-circle"></i> Checkout
    </a>
  </div>
{% endblock %}