{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<h1 class="center-text">Your Cart</h1>
<!--Shows a card for each coffee in the users cart-->
<div class="row row-flex">
	{% for item in cart_items %}
	<div class="col-md-4 col-sm-12">
		<div class="card-coffee">
			<img class="card-img-top" src="{{MEDIA_URL}}{{ item.coffee.image }}" alt="Coffee-Capsule">
			<div class="card-body">
				<h3>{{ item.coffee.name }}</h3>
				<p class="product-description">{{ item.product.description }}</p>
				<p><i class="fas fa-euro-sign"></i> {{ item.coffee.price }}</p>
				<p>Amount: {{ item.quantity }}</p>
				<h4>Amend QTY</h4>
				<form action="{% url 'adjust_cart' item.id %}" method="post">
					{% csrf_token%}
					<div class="input-group">
						<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
						<span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Amend</button>
                        </span>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!--Shows the total cost and minumum purchase to the user-->
<div class="col-sm-12">
	<div class="center-text">
		<h2>Total:</h2>
		<h2><i class="fas fa-euro-sign"></i>{{ total }}</h2>
        <h5>Minumum Purchase:<i class="fas fa-euro-sign"></i>00.50</h5>
	</div>
</div>
<!--checkout button which leads user to the payment detail page-->
<div>
	<a href="{% url 'checkout' %}" class="btn btn-success center-btn-add" role="button">
		<i class="fas fa-check-circle"></i> Checkout
	</a>
</div>
{% endblock %}