{% extends 'base.html' %}
{% block page_title %}All Coffee{% endblock %}
{% block content %}
<h1 class="center-text">CoffeeChoice</h1>
<div class="center-text">
	<div class="row">
		<div class="col-sm-4">
			<form action="{% url 'all_coffee' %}">
				<button type="submit" class="btn btn-primary">All Coffee</button>
			</form>
		</div>
		<div class="col-sm-4">
			<form action="{% url 'filter_vertuo' %}">
				<button type="submit" class="btn btn-primary">Vertuo</button>
			</form>
		</div>
		<div class="col-sm-4">
			<form action="{% url 'filter_original' %}">
				<button type="submit" class="btn btn-primary">Original</button>
			</form>
		</div>
	</div>
</div>


<form class="search" action="{% url 'search' %}" method="get">
	<!--Form Searchbox-->
	<div class="form-row">
		<div class="col-sm-12">
			<input class="form-control" type="text" placeholder="Search Coffee" name="query">
    </div>
		</div>
		<div class="center-text">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
</form>
<div class="row row-flex">
	{% for coffee in all_coffee %}
	<div class="col-md-4 col-sm-12">
		<div class="card-coffee">
			<img class="card-img-top" src="{{MEDIA_URL}}{{ coffee.image }}" alt="Coffee-Capsule">
			<div class="card-body">
				<h5 class="card-title">{{ coffee.name }}</h5>
				<p class="card-text">Range: {{ coffee.coffee_range }}</p>
				<p class="card-text">Intensity: {{ coffee.intensity }}</p>
				<p class="card-text">{{ coffee.overview }}</p>
				<p><i class="fas fa-euro-sign"></i> {{ coffee.price }}</p>
				<hr>
				<br>
				<p><a href="{% url 'coffee_review' coffee.id %}" class="btn btn-primary">Coffee Review(s)</a></p>
				<form method="post" action="{% url 'add_to_cart' coffee.id %}">
					{% csrf_token %}
					<div class="input-group">
						<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
						<span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% if all_coffee.has_other_pages %}
<div class="center-text">
	<ul class="pagination">
		{% if all_coffee.has_previous %}

		<li><a href="?page={{ all_coffee.previous_page_number }}">&laquo;</a></li>
		{% else %}
		<li class="disabled"><span>&laquo;</span></li>
		{% endif %}
		{% for i in all_coffee.paginator.page_range %}
		{% if all_coffee.number == i %}
		<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		{% else %}
		<li><a href="?page={{ i }}">{{ i }}</a></li>
		{% endif %}
		{% endfor %}
		{% if all_coffee.has_next %}
		<li><a href="?page={{ all_coffee.next_page_number }}">&raquo;</a></li>
		{% else %}
		<li class="disabled"><span>&raquo;</span></li>
		{% endif %}
	</ul>
</div>
{% endif %}
{% endblock %}