{% extends 'base.html' %}

{% block content %}
<h1 class="center-text">All Coffee</h1>
<div class="row row-flex">
{% for coffee in all_coffee %}
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <img class="card-img-top" src="/media/{{ coffee.image }}" alt="Coffee-Capsule">
      <div class="card-body">
        <h5 class="card-title">{{ coffee.name }}</h5>
        <p class="card-text">Range: {{ coffee.coffee_range }}</p>
        <p class="card-text">Intensity: {{ coffee.intensity }}</p>
        <p class="card-text">{{ coffee.description }}</p>
        <p><i class="fas fa-euro-sign"></i> {{ coffee.price }}</p>
        <p><a href="{% url 'coffee_review' coffee.id %}"  class="btn btn-primary">Coffee Review(s)</a></p>
         <form method="post" action="{% url 'add_to_cart' coffee.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}