{% extends 'base.html' %}

{% block content %}

<div class="row ">
  <div>
    <img src="/media/{{ coffee.image }}" class="img-blogpost"/>
  </div>
</div>
<div class="row">
  <h3>{{ coffee.name }}</h3>
</div>
<div class="row">
    <p>{{ coffee.description }}</p>
    </div>
    <div class="row">
    <p>{{ coffee.price }}</p>
    </div>
    <a href="{% url 'all_coffee' %}" class="btn btn-primary"><i class="fas fa-undo"></i></a>
</div>
<hr>
<h1>Reviews</h1>
<a class="btn btn-primary" href="{% url 'add_comment_to_coffee' pk=coffee.pk %}">Add Review</a>

{% for comment in comments %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>Be the first to add a comment!</p>
{% endfor %}

{% endblock %}