{% extends 'base.html' %}
{% block page_title %}{{ coffee.name }}{% endblock %}
{% block content %}
<div class="col-sm-12">
	<div class="card-coffee">
		<img src="/media/{{ coffee.image }}" class="review-img" alt="Coffee-Capsule" height="400px">
		<div class="card-body center-text">
			<h1>{{ coffee.name }}</h1>
			<h2>Range: {{ coffee.coffee_range }}</h2>
			<h2>Intensity: {{ coffee.intensity }}</h2>
			<h2>{{ coffee.description }}</h2>
			<h3><i class="fas fa-euro-sign"></i> {{ coffee.price }}</h3>
			<a href="{% url 'all_coffee' %}" class="btn btn-primary"><i class="fas fa-undo"></i></a>
		</div>
	</div>
	<h1 class="center-text">Reviews</h1>
	<a class="btn btn-primary center-btn-add" href="{% url 'add_comment_to_coffee' pk=coffee.pk %}">Add Review</a>
	<div class="comment-wrap">
		{% for comment in comments %}
		<div class="comment">
			<p>{{ comment.created_date }}</p>
			<p><strong>{{ comment.author }}</strong></p>
			<p>{{ comment.text }}</p>
			<hr>
		</div>
        {% empty %}
			<p>Be the first to add a review!</p>
		{% endfor %}
	</div>
</div>
{% endblock %}