{% extends 'base.html' %}
{% block page_title %}{{ coffee.name }}{% endblock %}
{% block content %}
<div class="col-sm-12">
	<div class="card">
		<img src="/media/{{ coffee.image }}" alt="Coffee-Capsule" height="400px">
		<div class="card-body center-text">
			<h5 class="card-title">{{ coffee.name }}</h5>
			<p class="card-text">Range: {{ coffee.coffee_range }}</p>
			<p class="card-text">Intensity: {{ coffee.intensity }}</p>
			<p class="card-text">{{ coffee.description }}</p>
			<p><i class="fas fa-euro-sign"></i> {{ coffee.price }}</p>
			<a href="{% url 'all_coffee' %}" class="btn btn-primary"><i class="fas fa-undo"></i></a>
		</div>
	</div>
	<h1 class="center-text">Reviews</h1>
	<a class="btn btn-primary center-btn-add" href="{% url 'add_comment_to_coffee' pk=coffee.pk %}">Add Review</a>
    <div class="comment-wrap">
	{% for comment in comments %}
	<div class="comment">
		<div>{{ comment.created_date }}</div>
		<p><strong>{{ comment.author }}</strong></p>
		<p>{{ comment.text }}</p>

		{% empty %}
		<p>Be the first to add a review!</p>
	</div>
	{% endfor %}
</div>
</div>
	{% endblock %}